body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

div {
    box-sizing: border-box;
}

.header {
    max-width: 80%;
    display: flex;
    padding: 0;
}

.header-main {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.custome-item-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .logo {
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}

.header .logo span {
    color: #3C9379;
}

.header .menu {
    width: 75%;
}

.header .menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu ul li a {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: grey;
}

.header .menu ul li a.active {
    color: black;
    font-weight: bold;
}

.header .auth {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .auth a {
    text-decoration: none;
    color: black;
}

.header .auth button {
    background-color: #3C9379;
    border-radius: 15px;
    padding: 10px;
}

footer {
    width: 80%;
    margin: auto;
    display: flex;
    height: 200px;
}

footer .left-logo {
    width: 30%;
}

footer .left-logo h4 {
    font-weight: bold;
}

footer .left-logo .des-txt {
    color: grey;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 20px;
}

footer .left-logo h3 {
    font-weight: bold;
}

footer .left-logo h3 span {
    color: #3C9379;
}

footer .right-list {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

footer .right-list .items {
    width: 33%;
}

footer .right-list .items h4 {
    font-weight: bold;
}

footer .right-list .items h4 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

footer .right-list .items h4 ul li {
    color: grey;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}
.Text{
    margin: 200px 0px 100px 0px;
}
.Text p{
    font-size: 32px;
    text-align: center;
}
.box1{
    background-image: url(../../assets/images/photo_1.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box2{
    background-image: url(../../assets/images/adidas.png);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box3{
    background-image: url(../../assets/images/photo_3.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box4{
    background-image: url(../../assets/images/photo_4.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box5{
    background-image: url(../../assets/images/photo_5.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box6{
    background-image: url(../../assets/images/photo_6.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box7{
    background-image: url(../../assets/images/photo_7.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box8{
    background-image: url(../../assets/images/photo_8.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.box9{
    background-image: url(../../assets/images/photo_9.jpg);
    background-position: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #3C9379;
    width:286px ;
    height: 233px;
}
.row{
     padding: 50px;
}
main{
    margin: 0px 0px 250px 0px;
}